.home{
    width: 80%;
    padding: 20px;
    h1{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
    }
    .zone-btn{
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        .btn-primary{
            width: 200px;
            height: 40px;
            background-color: #14a4dd;
            color: #fff;
            border: none;
            cursor: pointer;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    
}